@model CartViewModel

@{
    ViewData["Title"] = "Cart";
}

    <link rel="stylesheet" href="~/css/ProductsCardDeck.css" />

<h1>Cart</h1>

<form method="post" asp-action="PlaceOrder">
    <div class="row">
        <div class="col-lg-6">
            @{
                string disabled = "disabled";
                if (Model.Products != null)
                {
                    disabled = "";
                    for (int i = 0; i < Model.Products.Count; i++)
                    {
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-4">
                                    <img class="img" src="@Model.Products[i].Product.ImgUrl" style="height:auto; width:100%" />
                                </div>
                                <div class="col-3">
                                    <p>Quantity:</p>
                                    <p>Unit price:</p>
                                    <p>Total Price:</p>
                                </div>
                                <div class="col-5">
                                    <p>@Html.DisplayFor(modelItem => modelItem.Products[i].Quantity)</p>
                                    <p>@Model.Products[i].Product.Price.ToString("C")</p>
                                    <p>@{var tp = Model.Products[i].Product.Price * Model.Products[i].Quantity;} @tp.ToString("C")</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    @Html.HiddenFor(modelItem => modelItem.Products[i].Product.Id)
                    @Html.HiddenFor(modelItem => modelItem.Products[i].Product.ImgUrl)
                    @Html.HiddenFor(modelItem => modelItem.Products[i].Product.CategoryId)
                    @Html.HiddenFor(modelItem => modelItem.Products[i].Product.Price)
                    @Html.HiddenFor(modelItem => modelItem.Products[i].Quantity)
                    @Html.HiddenFor(modelItem => modelItem.Products[i].Product.Name)
                    }
                }
            }

        </div>

        <div class="col-lg-6">
            <div class="card border-0">
                <div class="card-header" style="background-color:#ffffff">
                    <h5>Order Details</h5>
                </div>
                <div class="card-body" >
                    <div class="clearfix" style="margin : 0 75px 0">
                        <h6 class="float-left">Subtotal:</h6>
                        <span class="float-right">@Model.TotalPrice.ToString("C")</span>
                        @Html.HiddenFor(modelItem => Model.TotalPrice)
                    </div>
                    <div class="clearfix" style="margin : 0 75px 0">
                        <h6 class="float-left">Shipping:</h6>
                        <span class="float-right">Free</span>
                    </div>
                    <div class="clearfix" style="margin : 0 75px 0">
                        <h6 class="float-left">Total:</h6>
                        <span class="float-right">@Model.TotalPrice.ToString("C")</span>
                    </div>
                </div>

            <div class="card-footer" style="background-color:#ffffff">
                <p><input type="submit" value="PLACE ORDER" class="btn btn-success btn-block" @disabled/></p>
                <h6>
                    Delivery time
                </h6>
                <p>
                    Estimated delivery within 4 to 6 working days.
                </p>
            </div>
                    
                </div>
            </div>
    </div>
</form>